.container-div{
  display: flex; 
  min-height: 100vh;
}

.left-side{
  width: 540px;
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;;
  
}

.search-song-to-add-sector{
  height: 100px;
  display: flex;
}

.search-song-div{
  margin: auto;
}

.search-song-input{
  width: 460px;
  height: 56px;
  background: #F5F5F5;
  border-radius: 12px;
  direction: rtl;
  padding-right: 10px;
  font-size: 14px;
  font-weight: lighter;
  padding-right: 30px;
  
}

.search-song-input::placeholder{
}


.search-song-input:focus{
  background: rgba(36, 107, 253, 0.08);
  outline: 1px solid #246BFD;

}

.choose-songs-or-history-div{
  height: 80px;
  display: flex;
  margin-top: 20px;
}

.choose-songs-or-history-buttons{
  width: fit-content;
  margin: auto;
  
}

.button-history{
  border-bottom: solid 1px #c1bcbc;;
  width: 230px;
  height: 50px;
  font-size: 18px;
  font-weight: 200;
  color: #9E9E9E;
}

.button-history-active{
  width: 230px;
  height: 50px;
  font-size: 18px;
  font-weight: 200;
  border-bottom: solid 3px #246BFD;
  border-radius: 2px;
  color: #246BFD;
}

.main-left-side{
  flex: 1;
}

.next-songs-div{
  display: flex;
}

.song-div{
 

}

.room-history-div{  
  max-height: 500px;
  overflow: scroll;
  /* direction: rtl; */
}

.history-song-div{
  display: flex;
  width: 460px;
  height: 108px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 20px;
  justify-content: space-between;
  background: #FFFFFF;
  opacity: 0.7;
  

}

.trash-bin-icon-div{
  /* display: flex; */
  display: inline-block;
  justify-content: center;
  margin-left: 30px;
  
  /* vertical-align: middle; */

}

.number-of-likes{
  display: inline-block;
  margin-bottom: 10px;  
}

.trash-bin-icon{
  width: 30px;
  height: 30px;
  margin-top: 40px;
  cursor: pointer;
}

.number-of-likes-p{
  width: fit-content;
  height: fit-content;
  margin-bottom: 10px;
  margin: 0px 0px 0px 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 15px;
  color:#616161;
  
}

.history-song-info-div{
  display: flex;
  flex-direction: column;
  text-align: right;
  direction: rtl;
  justify-content: space-between;
  margin-right: 25px;
  margin-bottom: 0px;
}

.move-next-div{
  
  display: flex;
  width: 460px;
  height: 60px;
  margin: auto;
  margin-top: 7px;
  margin-bottom: 20px;
  border-radius: 20px;
  justify-content: space-between;
  background: #FFFFFF;
  background-color: rgba(153, 205, 50, 0.57);
  opacity: 0.7;
}

.move-next-button{
  align-self: center;
  margin: auto;
  width: 460px;
  height: 60px;
  border-radius: 20px;
  color: #424242;

}

.move-next-button:hover{
  background-color: rgba(153, 205, 50, 0.812);
  color: black;
}


.song-header-p{
  margin-top: 25px;
  font-size: 20px;
  margin-bottom: 0px;

}

.history-song-author-div{
  width: fit-content;
  height: fit-content;
  margin-bottom: 10px;
  
}

.song-author-p{
  color: #424242;
  font-size: 14px;
  font-weight: 100;

}




.room-setting-div{
  display: flex;
  width: 460px;
  height: 60px;
  /* margin: auto; */
  margin-bottom: 20px;
  border-radius: 20px;
  justify-content: space-between;
  opacity: 0.7;
  align-items: center;
  outline: 1px solid black;
  background: #EEEEEE;
  align-self: center;
}

.room-setting-div-open{
  height: 380px;
  
}

.setting-info-header-open{
  /* display: flex; */
  width: 460px;
  height: 350px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 20px;
  opacity: 0.7;
  outline: 1px solid black;
  background: #EEEEEE;
}

.open-setting-div{
  margin-left: 20px;
}
.open-setting-button{
  background-color: none;
  color: #246BFD;
  font-size: 16px;

}

.setting-line-div{
  height: 48px;
}
.room-header-open-div{
  height: 58px;
}

.room-desc-open-div{
  height: 50px;

}


.room-header-div{
  margin-top: 5px;
  margin-right: 20px;
}
.room-header-h4{
  font-weight: 700;
  font-size: 24px;
}


.room-header{
  background-color: aliceblue;
}


.room-header-open-div{
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  
}

.room-desc-open-div{
  display: flex;
  justify-content: space-between;
  
}
.room-desc-open-p{
  width: fit-content;
  height: fit-content;
  direction: rtl;
  margin-top: 11px;
  margin-right: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-align: right;
  letter-spacing: 0.2px;
  color: #212121; 
}

.in-setting{
align-items:flex-end;}


.setting-line-div{
  display: flex;
  justify-content: space-between;
}

.room-setting-toggle-div{
  /* background-color: #246BFD; */
  height: fit-content;
  width: fit-content;
  margin-left: 30px;
}

.room-setting-toggle-header{
  /* margin: 0px 0px 0px 0px; */
  display: flex;
  align-items: center;
  margin-right: 20px;

  
}
.room-setting-toggle-header-p{
  margin-top: 10px;
  margin: 0px 0px 0px 0px;
  width:fit-content;
  height: fit-content;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  direction: rtl;
  
}

.room-menager-profile-pic-div{
  display: flex;
  margin-left: 45px;
  
}

.room-menager-profile-pic-img{
  background-color: black;
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 15px;
  margin: auto;
  outline: solid 2.5px white;
}



 .right-side{
  flex: 1;
 }


 /* .logo-arrow-div{
  display: flex;
  height: 136px;
  direction: ltr;
  background-color: tomato;
 }

 .space-logo-div{
  flex: 1;
 }

 .right-arrow-div{
  width: 30px;
 }


.logo-img{
  height: 300px;
  width: 450px;
  float: right;
}

.right-arrow-img{
  width: 30px;
  float: right;
} */
.logo-arrow-div{
  display: flex;
  justify-content: space-between;
  height: 125px;
  direction: rtl;
  /* background-color: tomato; */
 }

.logo-img-div{
  /* background-color: violet; */
  margin-left: 10px;
  width: 180px;
  height: 80px;
  margin-right: 30px;
  margin-top: 12px;
}

.logo-img{
}

.lyrics-author-song-header-div{
  display: flex;
  flex-direction: row-reverse;
}
.song-header-div{
  background-color: color;
}
.song-header-h1{
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 110%;
}

.author-header-div{
  display: flex;
  margin-right: 20px;
  
}

.author-header-h5{
  width: fit-content;
  height: fit-content;
  margin: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #212121;
  padding-top: 15px;
}


.artist_lyrics_text{
  direction: rtl;
}


.serach-songs-suggestions-div{
  /* position: absolute; */
  width: 460px;
  height: 352px;
  background: #FFFFFF;
  align-self: center;
  display: flex;
  flex-direction: column;
  height: fit-content;
  box-shadow: 0px 4px 60px rgba(4, 6, 15, 0.05);
  border-radius: 20px;  
  margin-bottom: 30px;
}

.suggestion-line-div{
  height: 90spx;
  /* outline: 1px solid purple; */
  background: #FFFFFF;
  border-radius: 20px;  
  display: flex;
  justify-content: space-between;
}

.suggestion-add-song-div{
  display: flex;
  margin-top: 17px;
  margin-left: 30px;
}

.suggestion-add-song-button{
  height: fit-content;
}

.suggestion-add-song-icon{
  width: 50px;
  align-self: center;
}

.suggestion-was-before-div{
  margin-top: 36px;
  margin-left: 10px;
}

.suggestion-was-before-p{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.2px;
  color: #9E9E9E;
}

.suggestion-song-info-div{
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-top: 18px;
  /* background-color: #616161; */
}

.suggestion-song-name-div{
  height: fit-content;
  margin-bottom: -5px;
}

.suggestion-song-name-h6{
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  text-align: right;
  color: #212121;
}

.suggestion-author-name-div{
  width: fit-content;
  align-self: flex-end;
}
.suggestion-author-name-p{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.2px;
  color: #616161;
}



.blue{
  background-color: blue;
  min-height: 700px;
}

.purple{
  background-color: purple;
    min-height: 250px;

}

.pink{
  background-color: pink;
}

.coral{
  background-color: coral;
}

.white{
  background-color: white;
}

.user-greetings-div{
  width: fit-content;
  display: flex;
  margin-left: 20px;
}

.hello-username-p{
  font-weight: 100;
  font-size: 14px;
  height: fit-content;
  margin-top: 38px;
  color:#616161;
  
}

.admin-notadmin-p{
  padding-right: 4px;
}
