.container-div-chat{
  display: flex; 
  height: 100vh;
}

.left-side{
width: 40%;
    min-width: 390px;
    max-width: 800px;
    height: 100vh;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
  
  
}



 .right-side{
    flex: 1 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
 }

 

.logo{
    width: 100%;
    justify-content: flex-end;
}


.search-song-input{
  background-color: #efefef;
  direction: rtl;
  padding: 20px 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  border-radius: 12px;
  width: 100%;
  transition: 0.3s;
  
  
  
  
}

.search-room-input:focus{
  background-color:rgba(227, 235, 237, 0.729);
  outline: none;
  border: 2px solid rgb(154, 152, 152);
  /* height: 100px; */
  transition: 0.3s;
}


.search-song-to-add-sector{
  height: 100px;
  display: flex;
}

.search-song-div{
  margin: auto;
}

.chat-mobile-header{
  background-color: red;
  
}

/* .search-song-input{
  
  height: 56px;
  background: #F5F5F5;
  border-radius: 12px;
  direction: rtl;
  padding-right: 10px;
  font-size: 14px;
  font-weight: lighter;
  padding-right: 30px;
  
} */

.search-song-input::placeholder{
}


.search-song-input:focus{
  background: rgba(36, 107, 253, 0.08);
  outline: 1px solid #246BFD;

}

.choose-songs-or-history-div{
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

}


.button-history{
  border-bottom: solid 1px #c1bcbc;;
  width: 100%;
font-size: 1rem;
  font-weight: 400;
  color: #9E9E9E;
      padding: 8px 0;

}

.button-history-active{
      width: 100%;
    font-size: 1rem;
    font-weight: 400;
    border-bottom: solid 2px #246BFD;
    border-radius: 2px;
    color: #246BFD;
    padding: 8px 0;

}

.main-left-side{
  width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  
  
}

.room-history-div{  
  max-height: 500px;
  overflow: scroll;
  /* direction: rtl; */
}

.list-of-messages-div{
width: 100%;
    display: flex;
    justify-content: center;
    overflow: auto;
    flex: 1;
}

.message-card{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  border-radius: 20px;
  margin-bottom: 12px;
  padding: 20px 28px;
}

.message-icons-div{
  display: flex;
  flex-direction: row;
  align-items: center;
}


.trash-bin-icon-div{
  display: inline-block;
  justify-content: center;
  margin-left: 30px;
}



.trash-bin-icon{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.number-of-likes{
  margin: 0px 0px 0px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 0.8rem;
  color:#616161;
}

.history-song-info-div{
  display: flex;
  flex-direction: column;
  text-align: right;
  direction: rtl;
  justify-content: space-between;
}

.move-next-div{
  
  display: flex;
  width: 460px;
  height: 60px;
  margin: auto;
  margin-top: 7px;
  margin-bottom: 20px;
  border-radius: 20px;
  justify-content: space-between;
  background: #FFFFFF;
  background-color: rgba(153, 205, 50, 0.57);
  opacity: 0.7;
}

.move-next-button{
    align-self: center;
    width: 100%;
    border-radius: 20px;
    color: #424242;
    background-color: rgba(153, 205, 50, 0.312);
    transition: 0.3s;
    padding: 16px;
}

.move-next-button:hover{
  background-color: rgba(153, 205, 50, 0.812);
  color: black;
}


.song-header-p{
  margin-top: 25px;
  font-size: 20px;
  margin-bottom: 0px;

}

.history-song-author-div{
  width: fit-content;
  height: fit-content;
  margin-bottom: 10px;
  
}

.song-author-p{
  color: #424242;
  font-size: 14px;
  font-weight: 100;

}

.room-setting-div{
    padding: 24px 28px;
    background: #EEEEEE;
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.room-setting-div-open{
  background: #e4dede;
  height: fit-content;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  gap:16px;
}

.room-header-div{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

}

.room-desc{
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #212121; 
  direction: rtl;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgb(202, 200, 200);
}

.settings-div{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.setting-line-div{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avatars-button-div{
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.invite-button{
  background-color: #246BFD;
  color: white;
  padding: 6px 16px;
  border-radius: 100px;
  font-family: 'NarkisBlockMF';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
}



  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white;
    margin-top: 25px;
    margin-left: -12px;
    cursor: pointer;
    position: relative;
    transition: 0.25s;
  }

  .avatar:hover {
    transform: translate(-10px);
    transition: 0.4s ease;
    
  }
  .avatar:hover:not(last-of-type) {
    transform: translate(-4px);
    transition: 0.4s ease;

  }

  .avatar-group {
    display: flex;
    margin: 0px 0px 0px 10px !important;
    align-items: center;    
  }

  .hidden-avatars {
    width: 32px;
    height: 32px;
    font-size:12px;
    
    border-radius: 50%;
    background-color: #2c303a;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -20px;
    border: 2px solid white;
    cursor: pointer;
    position: relative;
    margin-top: 25px;
    margin-left: -10px;
  }


.open-setting-div{
  margin-left: 20px;
}
.open-setting-button{
  background-color: none;
  color: #246BFD;
  font-size: 0.9rem;
}


.room-header-h4{
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0;
}


.room-header{
  background-color: aliceblue;
}


.room-header-open-div{
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  
}




.in-setting{
  align-items:flex-end;
  padding-left: 40px;
  padding-bottom: 10px;
}


.setting-line-div{
  display: flex;
  justify-content: space-between;
}

.room-setting-toggle-div{
  /* background-color: #246BFD; */
  height: fit-content;
  width: fit-content;
  margin-left: 30px;
}

.room-setting-toggle-header{
  /* margin: 0px 0px 0px 0px; */
  display: flex;
  align-items: center;
  margin-right: 20px;

  
}
.room-setting-toggle-header-p{
  margin-top: 10px;
  margin: 0px 0px 0px 0px;
  width:fit-content;
  height: fit-content;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  direction: rtl;
  
}

.room-menager-profile-pic-div{
  display: flex;
  margin-left: 45px;
  
}

.room-menager-profile-pic-img{
  background-color: black;
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 15px;
  margin: auto;
  outline: solid 2.5px white;
}


.logo-arrow-div-chat{
  display: flex;
  justify-content: space-between;
  height: 125px;
  direction: rtl;
 }

.logo-img-div{
  margin-left: 10px;
  width: 180px;
  height: 80px;
  margin-right: 30px;
  margin-top: 12px;
}

.logo-img{
}

.lyrics-author-song-header-div{
  display: flex;
  flex-direction: row-reverse;
}
.song-header-div{
  background-color: color;
}
.song-header-h1{
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 110%;
}

.author-header-div{
  display: flex;
  margin-right: 20px;
  
}

.author-header-h5{
  width: fit-content;
  height: fit-content;
  margin: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #212121;
  padding-top: 15px;
}


.artist_lyrics_text{
  direction: rtl;
}


.serach-songs-suggestions-div{
  /* position: absolute; */
  width: 460px;
  height: 352px;
  background: #FFFFFF;
  align-self: center;
  display: flex;
  flex-direction: column;
  height: fit-content;
  box-shadow: 0px 4px 60px rgba(4, 6, 15, 0.05);
  border-radius: 20px;  
  margin-bottom: 30px;
}

.suggestion-line-div{
  height: 90spx;
  background: #FFFFFF;
  border-radius: 20px;  
  display: flex;
  justify-content: space-between;
}

.suggestion-add-song-div{
  display: flex;
  margin-top: 17px;
  margin-left: 30px;
}

.suggestion-add-song-button{
  height: fit-content;
}

.suggestion-add-song-icon{
  width: 50px;
  align-self: center;
}

.suggestion-was-before-div{
  margin-top: 36px;
  margin-left: 10px;
}

.suggestion-was-before-p{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.2px;
  color: #9E9E9E;
}

.suggestion-song-info-div{
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-top: 18px;
  /* background-color: #616161; */
}

.suggestion-song-name-div{
  height: fit-content;
  margin-bottom: -5px;
}

.suggestion-song-name-h6{
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  text-align: right;
  color: #212121;
}

.logout-button{
  width: 45px;
  height: auto;
  cursor: pointer;
}

.home-button{
  width: 48px;
  height: auto;
  cursor: pointer;
}

.mobile-header-icons-div{
  display: flex;
  align-items: center;
}

.suggestion-author-name-div{
  width: fit-content;
  align-self: flex-end;
}
.suggestion-author-name-p{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.2px;
  color: #616161;
}


.wi-100{
  width:100%;
  /* display: flex;
  flex-direction: column; */
  
}
.curr-song-button{
  display: none;
}

.user-greetings-div-mobile{
  display: none;
}

@media (max-width: 530px){
  .container-div-chat{
    display: flex;
    flex-direction: column;
  }
  .user-greetings-div-mobile{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-bottom: 1px solid rgb(221, 218, 218) ;
    background-color: #f9f9f9;
  }
  .hello-username{
    direction: rtl;
    font-size: 0.6rem;
  }
  .room-setting-avatar-group{
    display: none;
  }

  .room-header-h4{
    font-size: 1rem;
  }
  .room-desc{
    width: 100%;
    text-align: right;
    font-size: 0.7rem;
    color: rgb(56, 54, 54);
  }
  .room-setting-div-open{
    padding: 12px 14pxs;
  }
  .settings-div{
    width: 100%;
  }
  .setting-line-div{
    width: 100%;
  }

  .list-of-messages-div{

    margin-top: 0;
  }

  .history-song-info-div{
  }
  .song-name-p{
    font-size: 0.8rem;
  }
  .song-author-p{
    font-size: 0.6rem;
  }
  .trash-bin-icon{
    width: 20px;
  }
  .number-of-likes{
    font-size: 0.6rem;
  }
  .message-card{
    height: 70px;
  }
  .button-history{
    font-size: 0.8rem;
  }
  .button-history-active{
    font-size: 0.8rem;

  }

  .logo-arrow-div-chat{
    display: none;
    
  }

  .move-next-button{
    width: 275px;
    height: 60px;
    font-size: 0.8rem;
    
}

.curr-song-button{
  display: block;
    align-self: center;
    margin: auto;
     width: 275px;
    height: 60px;
    font-size: 0.8rem;
    border-radius: 20px;
    color: #424242;
    background-color: rgba(24, 181, 224, 0.312);
    transition:0.3s;
    margin-top: 20px;
    margin-bottom: 0;
}
.curr-song-button:hover{
  background-color: rgba(24, 181, 224, 0.612);
}
 
}