
*{
  transition: all 0.2s;
  font-family: 'NarkisBlockMF';
  font-style: normal;
  font-weight: 700;
  color: #212121;
  letter-spacing: 0.2px;
}

h1 {
  font-size: 48px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.left-div{
  background-color: #EEEEEE;
  align-items: center;
  width: 540px;
  padding-bottom: 10px;
  padding-left: 0;

;}

.active-rooms-header{
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;

    /* display: flex; */
    align-items: center;
    text-align: right;

    margin-top: 30px;
    margin-right: 40px;
    margin-bottom: 30px;
}

.search-room-div{
  /* background-color: #1f5fe0; */
  width: fit-content;
}

.search-room-box{
  background-color: #F5F5F5;
  direction: rtl;
  
  flex-direction: row;
  align-items: center;
  padding: 0px 20px;
  gap: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  border-radius: 12px;
  margin-top: 40px;
  height: 56px;
  /* width: 460px;  */
}




/* non found rooms */

.outside-box{
  margin-top: 40px;
  width: 220px;
  height: 220px;
  background: white;
  text-align: center;
}
.circle{
  width: 220px;
  height: 220px;
  border: 40px solid #616161;
  border-radius: 200px;
  margin: auto;
}

.not-found-room-div-div{
  display: flex;
}

.not-found-room-div{
  display: flex;
  flex-direction: column;
}


.not-found-room{
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  font: #212121;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 27px;
}

.headers{
  height: 106px;
  
  
}

.main-header {
  line-height: 110%;
  text-align: right;
  direction: rtl;
  padding-right: 30px;
}

.sub-header{
  
  font-weight: 400;
  font-size: 18px;
  /* line-height: 140%; */

  text-align: right;
  letter-spacing: 0.2px;
  direction: rtl;
  padding-right: 30px;

}

.enter-room{
  padding-right: 15px;
}

.pin-input{
  background: #616161;
}

.create-room-button{
  color: white;
  direction: rtl ;
  background: #246BFD;
  padding: 18px 16px;
  width: 548px;
  height: 55px;
  box-shadow: 4px 8px 24px rgba(36, 107, 253, 0.25);
  border-radius: 100px ;
  font-family: 'NarkisBlockMF';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
    /* or 22px */
  
    /* display: flex; */
    /* align-items: center; */
    /* text-align: center; */
    /* letter-spacing: 0.2px; */
    transition: 0.2s !important;

}

.create-room-button:hover {
  direction: trl;
    background: #1f5fe0;
    transition: 0.2s;
}

.or{
  font-family: 'NarkisBlockMF';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #616161;

    margin-top: 30px;
    margin-bottom: 30px;

}

.textfield{
  color: aqua !important;
  direction: "rtl" !important;
}

.dialog-create-room{
  outline: #212121;
  background: #246BFD;

  width: 428px;
  height: 459px;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 36px 24px;
    gap: 24px;
    background: #FFFFFF;
      /* Greyscale / 100 */
    
      border: 1px solid #F5F5F5;
      border-radius: 40px;
}
.form-create-room{
  background:pink;
}
.input-create-room {
  font-family: 'NarkisBlockMF';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  background: #FAFAFA;
  width: 380px;
  height: 56px;
  border-radius: 12px;
  direction: rtl;
  padding-right: 15px;
  transition: 0.7s;
  
}
.input-create-room::placeholder{
    font-family: 'NarkisBlockMF';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 20px */
  
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.2px;
  
    /* Greyscale / 500 */
  
    color: #9E9E9E;
    
}

.dialog-headline{
  font-family: 'NarkisBlockMF';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */

  display: flex;
  align-items: center;
  text-align: center;

  /* Greyscale / 900 */

  color: #212121;
}

.password-headline{
  font-family: 'NarkisBlockMF';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;  
  color: #9E9E9E;
}

.create-room-dialog-button{
  margin-top: 30px;
  margin-bottom: 20px;
  /* display: flex;
    flex-direction: row; */
    justify-content: center;
    align-items: center;
    padding: 18px 16px;
    gap: 10px;
  
    width: 380px;
    height: 58px;
    
    background: #246BFD;
  
    box-shadow: 4px 8px 24px rgba(36, 107, 253, 0.25);
    border-radius: 100px;  
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'NarkisBlockMF';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 140%;
      /* or 22px */
    
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.2px;
    
      /* Others / White */
    
      color: #FFFFFF;
}

.logo{
    display: flex;

    /* align-items: center; */
    justify-content: right;
    min-height: 29px;
    padding-right: 40px;
}

.purple{
  background-color: purple;
}
.break {
  min-height: 150px;
}

.small-break {
  min-height: 100px;
}


