
*{
  /* transition: all 0.2s; */
  font-family: 'NarkisBlockMF';
  font-style: normal;
  font-weight: 700;
  color: #212121;
  letter-spacing: 0.2px;
}

h1 {
  font-size: 48px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.search-room{
  
}


.left-side-get-a-room{
  width: 40%;
  min-width: 390px;
  max-width: 800px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  
  align-items: center;  
  background-color: #f9f9f9;;
  padding: 0px 0px;
  
  
}



 .right-side-get-a-room{
    flex: 1 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

.active-rooms-header{
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;    
    margin-top: 20px;
    width: 88%;
    text-align: right;
}

.list-of-rooms-div{
  margin-top: 30px;
  padding-top: 20px;
  width: 88%;
  overflow: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}


.search-room-input{
  background-color: #F5F5F5;
  direction: rtl;
  padding: 0px 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  border-radius: 12px;
  margin-top: 40px;
  min-height: 2.5rem;
  width: 88%;
  transition: 0.3s;
}

.search-room-input:focus{
  background-color:rgba(227, 235, 237, 0.729);
  outline: none;
  border: 2px solid rgb(154, 152, 152);
  /* height: 100px; */
  transition: 0.3s;
}


.outside-box{
  margin-top: 40px;
  width: 220px;
  height: 220px;
  background: white;
  text-align: center;
}
.circle{
  width: 220px;
  height: 220px;
  border: 40px solid #616161;
  border-radius: 200px;
  margin: auto;
}



.not-found-room{
  /* font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  font: #212121;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 27px; */
  
  width: 100%;
  direction: rtl;
  text-align: center;
  display: block;
  
}

.headers{
  height: 106px; 
}

.enter-room{
  padding-right: 15px;
}

.create-room-button-index{
  color: white;
  direction: rtl ;
  background: #246BFD;
  padding: 18px 16px;
  width: 420px;
  height: 55px;
  box-shadow: 4px 8px 24px rgba(36, 107, 253, 0.25);
  border-radius: 100px ;
  font-family: 'NarkisBlockMF';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;

    transition: 0.2s !important;
}

.create-room-button:hover {
  direction: trl;
    background: #1f5fe0;
    transition: 0.2s;
}

.or{
  font-family: 'NarkisBlockMF';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #616161;

    margin-top: 30px;
    margin-bottom: 30px;

}

.textfield{
  color: aqua !important;
  direction: "rtl" !important;
}

.dialog-create-room{
  outline: #212121;
  background: #246BFD;

  width: 428px;
  height: 459px;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 36px 24px;
    gap: 24px;
    background: #FFFFFF;
      /* Greyscale / 100 */
    
      border: 1px solid #F5F5F5;
      border-radius: 40px;
}
.form-create-room{
  background:pink;
}
.input-create-room {
  font-family: 'NarkisBlockMF';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  background: #FAFAFA;
  width: 380px;
  height: 56px;
  border-radius: 12px;
  direction: rtl;
  padding-right: 15px;
  transition: 0.7s;
  
}
.input-create-room::placeholder{
    font-family: 'NarkisBlockMF';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 20px */
  
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.2px;
  
    /* Greyscale / 500 */
  
    color: #9E9E9E;
    
}

.dialog-headline{
  font-family: 'NarkisBlockMF';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */

  display: flex;
  align-items: center;
  text-align: center;

  /* Greyscale / 900 */

  color: #212121;
}

.password-headline{
  font-family: 'NarkisBlockMF';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;  
  color: #9E9E9E;
}

.create-room-dialog-button{
  margin-top: 30px;
  margin-bottom: 20px;
  /* display: flex;
    flex-direction: row; */
    justify-content: center;
    align-items: center;
    padding: 18px 16px;
    gap: 10px;
  
    width: 380px;
    height: 58px;
    
    background: #246BFD;
  
    box-shadow: 4px 8px 24px rgba(36, 107, 253, 0.25);
    border-radius: 100px;  
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'NarkisBlockMF';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 140%;
      /* or 22px */
    
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.2px;
    
      /* Others / White */
    
      color: #FFFFFF;
}

.logo{
    display: flex;

    /* align-items: center; */
    justify-content: right;
    min-height: 29px;
    padding-right: 40px;
}


.enter-room-div{
    
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 70%;
    margin-top: 6rem;
}

.room-enter-code-div{
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  
}

.room-enter-input-buttons-div{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
  margin-top: 1.5rem;

}

.pin-input{
  
}

.main-header {
  line-height: 110%;
  text-align: right;
  direction: rtl;
  margin-bottom: 2rem;
}

.sub-header{
  
  font-weight: 400;
  font-size: 18px;
  text-align: right;
  direction: rtl;
  letter-spacing: 0.2px;
}

.or-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.horizontal-line{
  border-bottom: 1px solid #EEEEEE;
  
  height: 1px;
  min-width: 23%;
  margin: 0px 20px;
}

.logo-div{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}


.user-greetings-div{
  width: fit-content;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-left: 20px;
  gap: 10px;
}

.hello-username{
  font-family: 'NarkisBlockMF';
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 140%;

  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.2px;
  color: #9E9E9E;
  padding-top: 15px;
  padding-right: 10px;
}

.logout-button{
  color:#a7bbe5 ;
  
}
.mobile-menu{
  background-color: blue;
  display: none;}


@media (max-width: 875px){
  .container-div {
    display: flex;
    flex-direction: column;
  }
  .mobile-menu{
    display: flex;

  }
  .left-side-get-a-room{
    width: 100%;
  }
}


