.invitation-header{
  direction: rtl;
  margin: 0;
}

.invitation-room-details-div{
  display: flex;
  width: 100%;
  justify-content: right;
  gap: 12px;
}

.invitation-room-details{
  direction: rtl;
  font-weight: 400;
  color: gray;
}

.invitation-avatars{
  margin-top: 16px;
  width: 100%;
  display: flex;
  justify-content: right;
  background-color: rgb(234, 234, 234);
  padding: 12px 6px 12px 16px;
  width: fit-content;
  border-radius: 12px;
}

.invitation-sub-header{
  width: 100%;
  display: flex;
  justify-content: right;
  direction: rtl;
  margin: 0;
  font-weight: 400;
}

.invitation-buttons-div{
  margin-top: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.invitation-login-button{
  background-color: rgb(14, 176, 14);
  width: 48%;
  padding: 8px 0px;
  border-radius: 12px;
  color: white;
  direction: rtl;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-weight: 300;

}

.invitation-button-text{
  color: white;
  font-weight: 300;
}

.disabled-button{
  background-color:rgba(177, 167, 167, 0.566);
}