  * {
    font-family: 'NarkisBlockMF';
  }

  .room-headers-div{
    text-align: right;
    direction: rtl;
    margin-top: 28px;
    margin-right: 28px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .room-details-div{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    direction: rtl;
    justify-content: space-between;
    margin-right: 28px;
    margin-left: 28px;
    margin-top: 1.5rem;
  }

  .room-description{
    font-family: 'NarkisBlockMF';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }


  .playing-now-span{
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    color: #9E9E9E;
    margin-top: 16px;
  }
 
  .room-users-capacity{
    background: linear-gradient(286.17deg, #246BFD 0%, #6F9EFF 100%);
    padding: 6px 16px;
    color: white;
    border-radius: 100px;
    font-family: 'NarkisBlockMF';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2px;
    direction: ltr;
  }

  .room-card {
    
    height: auto;
    background-color: #FFFFFF;
    margin-bottom: 2.5vh;
    border-radius: 20px;
    
  }


  .room-card-top{
    
    left: 0px;
    top: 0px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: space-between;
    background-color: #E0E0E0;
    height: auto;
    width: 100%;
    min-width: 100%;
    align-items: center;
    padding: 20px 28px;
  }

  

  .room-card-bottom{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 25px;
  }

  .listtttt{
    width: 100%;
  }




  .right {
    display: flex;
    align-items: right;
    justify-content: right;
  }

  .lock-icon{
    height: 30px;
    width: auto;
  }

 

@media (max-width: 530px){
  .room-users-capacity{
    display: none;
  }
  .playing-now-span{
    display: none;
  }
  .room-headers-div{
    display: flex;
    text-align: center;
    margin-right: 0px;
  }
  .room-details-div{
    margin: auto;
    display: flex;
    margin-top: 20px;
  }
}
