  * {
    font-family: 'NarkisBlockMF';
  }

  .room-headers{
    text-align: right;
    margin-right: 28px;
  }


  .room-name{    
    margin-top: 28px;
  }

  .room-description{
  }

  .room-description-letters{
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    padding-right: 2px;
  }


  .room-curr-situation{
      /* display: flex; */
      margin-left: 28px;
      font-weight: 500;
      font-size: 14px;
      line-height: 140%;
  
  }

  .room-capacity{
    background: linear-gradient(286.17deg, #246BFD 0%, #6F9EFF 100%);
    border-radius: 100px;
    /* padding: 6px 16px; */
    width: 82px;
    height: 32px;
    /* ask yahalom */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    /* gap: 4px; */
  }

  .room-capacity-letters{
    color: white;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    margin-top: 6px;
    
  }

  .join-now-button{
    border-radius: 30px;
    border-color: #246BFD;
  }

  .room-playing-now{
    text-align: right;
    background-color: pink;    
  }

  .room-playing-now-letters{
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    color: #9E9E9E;
    margin-top: 16px;
    margin-right: 28px;
    
  }
 
  
  .room-card {
    width: 460px;
    height: 244px;
    background-color: #FFFFFF;
    margin-bottom: 30px;
    border-radius: 20px;
    transition: 0.4px;
  }

  .room-card-top{
    height: 80px;
    width: 460px;
    left: 0px;
    top: 0px;
    border-radius: 20px 20px 0px 0px;


    background-color: #E0E0E0;;
  }

  .room-card-bottom{

  }

  
  
  
  *{
    box-sizing: border-box;
  }

  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white;
    margin-top: 25px;
    margin-left: -12px;
    cursor: pointer;
    position: relative;
    transition: 0.25s;
  }

  .avatar:hover {
    transform: translate(-10px);
    transition: 0.4s ease;
    
  }
  .avatar:hover:not(last-of-type) {
    transform: translate(-4px);
    transition: 0.4s ease;

  }

  .avatar-group {
    display: flex;
    margin-left: 35px;
    
  }
  .hidden-avatars {
    width: 32px;
    height: 32px;
    font-size:12px;
    
    border-radius: 50%;
    background-color: #2c303a;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -20px;
    border: 2px solid white;
    cursor: pointer;
    position: relative;
    margin-top: 25px;
    margin-left: -10px;
  }



  .pink{
    background-color: pink;
    min-height: 30px;
  }

  .red {
    background-color: red;
    min-height: 700px;

  }

  .center{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right {
    display: flex;
    align-items: right;
    justify-content: right;
  }



