
.song-suggestions-container{
  
  width: 500px;
  height: fit-content;
  margin-top: 50px;
  position: absolute;
  justify-content: space-between;
}



.suggestion-hide-everything{
    min-height: 500px;
    /* outline: 1px solid purple; */
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
}