
.lets-start-card-div{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 50%;
  padding-bottom: 15vh;

}

.left-side-sign-in{
  width: 40%;
  min-width: 390px;
  max-width: 800px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  padding: 0px 0px;
  justify-content: center;
}

.right-side-sign-in {
    flex: 1 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header-div{
  direction: rtl;
  height: 53px;
  margin-bottom: 70px;
}

.header-h1{
  font-family: 'NarkisBlockMF';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 110%;
  text-align: center;
}

.login-div{
  
  display: flex;
}

.login-button{
    width: 100%;
    height: 60px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #212121;
    border: 1px solid #EEEEEE;
    border-radius: 16px;
        display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 10px;
}

.login-button:hover{
  background-color: #eceaea;
  border: 1px solid #cac9c9;

}

.login-button-marked{
  margin: auto;
  width: 380px;
  height: 60px;
  font-family: 'NarkisBlockMF';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #212121;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 16px;
  direction: rtl;
}



.button-text-google{
  display: inline;
  font-weight: 400;
  direction: rtl;
}

.button-image-google{
  display: inline;
  width: 25px;
}

.or-line-div{
  display: flex;
}

.intro-image{
    border-radius: 20px;
    height: 200px;
    width: auto;
}

.explenation-card{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.intro-headers-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-and-center{
  display: flex;
  justify-content: space-around;
}

.intro-small-header-p{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
text-align: center;
letter-spacing: 0.2px;
color: #616161;
}

.dot {
  height: 9px;
  width: 9px;
  background-color: rgb(237, 233, 233);
  border-radius: 50%;
  margin-left: 6px;
  margin-right: 6px;
  /* display: inline-block; */
  cursor: pointer;
}

.dot-chosen{
    background-color: #bbb;

}

.dots {
  margin-top: 20px;
  display: flex;
  
}

.dots-container{
  
  display: flex;
  justify-content: space-around;
}

/* .logo{
  background-color: black;
} */

.right-side{
  padding-right: 30px;
  padding-top: 7px;
}

.email-input{
  outline: solid;
  background-color:blueviolet;
  margin: auto;
  width: 380px;
  height: 60px;
  font-family: 'NarkisBlockMF';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #212121;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 16px;
  /* margin-top: 100px; */
  margin-bottom: 20px; 
  padding-left: 10px;
  outline: #616161;

}

.email-input:focus{
  background-color: rgba(211, 204, 204, 0.326);
  border: solid gray 1.5px;
}

.email-input-div{
  display: flex;
  /* background-color: yellowgreen; */
  margin-bottom: 0px;
  height: 50px
}

.login-button-small{
  width: 200px;
}

@media (max-width: 875px){
  .left-side-sign-in{
    display: none;
  }
  .right-side-sign-in{    
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .lets-start-card-div{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 160px;
    width: 90%;
    max-width: 400px;
    padding-bottom: 9vh;
    background-color: #f9f9f9;
    border-radius: 20px;

  }

  .login-button{
    width: 85%;
  }

}
